@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

 @if(!Context.User.Identity.IsAuthenticated)
{
    
    <p><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></p>
    
}
else
{
    <li>
       
        <p><a asp-area="" asp-controller="Home" asp-action="LogOut" onclick="logoutbtn()">LogOut</a></p>
        <script>
            function logoutbtn()
            {
                alert("LogOut Sucessufully");
            }
            
        </script>
        </li>
}

<ul>
    @{
        if(Context.User.Identity.IsAuthenticated)
        {
            <>Hello @User.Identity.Name </>
        }
        
        
    }
</ul>
